<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User</key>
	<array>
		<dict>
			<key>DictionaryKey</key>
			<string>dob</string>
			<key>PropertyKey</key>
			<string>dateOfBirth</string>
			<key>DateFormat</key>
			<string>MM/dd/yyyy</string>
			<key>TimeZone</key>
			<string>GMT</string>
		</dict>
		<dict>
			<key>DictionaryKey</key>
			<string>address</string>
			<key>PropertyKey</key>
			<string>address</string>
			<key>ObjectType</key>
			<string>Address</string>
		</dict>
		<dict>
			<key>DictionaryKey</key>
			<string>myPosts</string>
			<key>PropertyKey</key>
			<string>posts</string>
			<key>ObjectType</key>
			<string>Post</string>
		</dict>
	</array>
</dict>
</plist>
